<% provide(:title, "Домашняя Страница") %>

    <h1>Добро пожаловать в школу казахского языка QazaQ Mekteb</h1>
    <p><%= image_tag("qazaq.jpg", :alt => "qazaq") %></p>
    <p>здесь будет текст-приветствие и краткое описание проекта</p>
